{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <h2>Категории</h2>
    <a href="">
        {% include 'adminapp/includes/inc_category_menu.html' %}
    </a>
    <h2>Продукты</h2>
    <a href="{% url 'admin_custom:product_update' %}">Создать новый продукт</a>
    <br>
    <ul>
        {% for object in object_list %}
        <li>
            <a href="{% url 'admin_custom:product_read' object.pk %}">{{ object.name }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>