{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
<ul class="menu">
    <li><a href="{% url 'main' %}">Главная</a></li>
    <li><a href="{% url 'products' %}">Продукты</a></li>
    <li><a href="{% url 'contacts' %}">Контакты</a></li>
</ul>
    <div class="clearboth"></div>
    <h1 class="header">Главная</h1>
    <p>Привет, {{ username }}!</p>
    <p>{{ array.0 }}, {{ array.1 }}, {{ array.2 }}</p>
    {% for x in array %}
    <p>{{ x }}</p>
    {% endfor %}
    {% if array.1 == 1 %}
    <p>Yes, it's equal to 1!</p>
    {% else %}
    <p>No, it's not equal to one!</p>
    {% endif %}
</body>
</html>