{% extends 'mainapp/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    {% block content2 %}
        {% if request.user.is_authenticated %}
            <h2>Hello, {{ request.user.username|title  }}!</h2>
        {% else %}
            <h2>Hello, guest!</h2>
        {% endif %}
        <p>{{ array.0 }}, {{ array.1 }}, {{ array.2 }}</p>
        {% for x in array %}
        <p>{{ x }}</p>
        {% endfor %}
        {% if array.1 == 1 %}
        <p>Yes, it's equal to 1!</p>
        {% else %}
        <p>No, it's not equal to one!</p>
        {% endif %}
    {% endblock %}
</body>
</html>