<ul class="menu" xmlns:auth="http://www.w3.org/1999/xhtml">
    {% for link in links_menu %}
        <li><a href="{% url link.href %}"> {{ link.name|title }}</a></li>
    {% endfor %}
</ul>
<div class="clearboth"></div>
{% if user.is_authenticated %}
    <a class="authorise" href="{% url 'auth:logout' %}">Выйти</a>
{% else %}
    <a class="authorise" href="{% url 'auth:login' %}">Авторизация</a>
    <a class="authorise" href="{% url 'auth:register' %}">Регистрация</a>
{% endif %}
<div class="clearboth"></div>
<a href="{% url 'basket:view' %}" class="basket">
    <p>
        Товаров в корзине:
        {% if basket %}
        <br>
            {{ basket.0.total_cost|floatformat:0 }} руб
        <br>
            {{ basket.0.total_quantity }} шт
        {% endif %}
    </p>
</a>

